{% extends 'home/base.html' %}
{% block content %}
<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row" style="margin-top:40px">
        <div class="col-lg-2"></div>

            <div class="col-lg-8">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
        
                <h2 class="fw-normal">Juan Tomas Gutierrez</h2>
                <p>Estudiante de Ingenieria en sistemas en la UTNBA.</p>
                <p>Tengo 2 años de experiencia como desarrollador trabajando en Siemens Energy, con sistemas scada.</p>
                <p><a class="btn btn-secondary" href="https://www.linkedin.com/in/juan-tomas-gutierrez-918297151/">Linkedin»</a></p>
             
                <svg class="bd-placeholder-img rounded-circle" style="margin-top:40px" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
        
                <h2 class="fw-normal">Agustin Pascual</h2>
                <p>Contador en Daruma.</p>
                <p>4 años de experiencia trabajando en el grupo Allaria.</p>
                <p><a class="btn btn-secondary" href="https://www.linkedin.com/in/agust%C3%ADn-pascual-b445a156/">Linkedin»</a></p>
              </div>

      
      <div class="col-lg-2"></div>
  </div>
{% endblock content %}
    