{% extends 'home/base.html' %}
{% block content %}
<div class="blog-content">

    <!-- Three columns of text below the carousel -->
    <div class="row" style="margin-top:40px">
                <div class="about-person">
                    <img src="https://media-exp1.licdn.com/dms/image/D4D03AQFnjNnA4Sy6MQ/profile-displayphoto-shrink_200_200/0/1667171510682?e=1672876800&v=beta&t=Ldukbh6WLv5_1qxO6leYPu8kGmSLjNH9L5OYcCSRdP8" alt="avatar"
                      class="rounded-circle img-fluid" style="width: 110px;height: 110px;">
                    <div class="about-person-info">
                        <h2 class="fw-normal">Juan Tomas Gutierrez</h2>
                        <p style="margin-bottom:0px;">Estudiante de Ingenieria en sistemas en la UTNBA.</p>
                        <a class="btn btn-primary btn-card btn-card-linkedin" href="https://www.linkedin.com/in/juan-tomas-gutierrez-918297151/">
                            <li-icon type="app-linkedin-bug-color-icon" size="large" role="img" aria-label="LinkedIn"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24" fill="currentColor" class="mercado-match" width="22" height="22" focusable="false">
                                <path d="M20.5 2h-17A1.5 1.5 0 002 3.5v17A1.5 1.5 0 003.5 22h17a1.5 1.5 0 001.5-1.5v-17A1.5 1.5 0 0020.5 2zM8 19H5v-9h3zM6.5 8.25A1.75 1.75 0 118.3 6.5a1.78 1.78 0 01-1.8 1.75zM19 19h-3v-4.74c0-1.42-.6-1.93-1.38-1.93A1.74 1.74 0 0013 14.19a.66.66 0 000 .14V19h-3v-9h2.9v1.3a3.11 3.11 0 012.7-1.4c1.55 0 3.36.86 3.36 3.66z"></path>
                              </svg></li-icon>
                              <b>LinkedIn</b>
                        </a>
                    </div>
                </div>
                <div class="about-description">
                    <p>Tengo 2 años de experiencia como desarrollador trabajando en Siemens Energy, con sistemas scada.</p>
                    
                </div>
    </div>

    <div class="row" style="margin-top:40px">
        <div class="about-person">
            <img src="https://media-exp1.licdn.com/dms/image/C4D03AQEj-jYYIRblcw/profile-displayphoto-shrink_200_200/0/1526332366272?e=1672876800&v=beta&t=LwPY7dmjzoMVctGIHEZ3_3cBdqfC8L1Ut_V8X1KEaqo" alt="avatar"
              class="rounded-circle img-fluid" style="width: 110px;height: 110px;">
            <div class="about-person-info">
                <h2 class="fw-normal">Agustin Pascual</h2>
                <p style="margin-bottom:0px;">Contador en Daruma.</p>
                <a class="btn btn-primary btn-card btn-card-linkedin" href="https://www.linkedin.com/in/agust%C3%ADn-pascual-b445a156/">
                    <li-icon type="app-linkedin-bug-color-icon" size="large" role="img" aria-label="LinkedIn"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24" fill="currentColor" class="mercado-match" width="22" height="22" focusable="false">
                        <path d="M20.5 2h-17A1.5 1.5 0 002 3.5v17A1.5 1.5 0 003.5 22h17a1.5 1.5 0 001.5-1.5v-17A1.5 1.5 0 0020.5 2zM8 19H5v-9h3zM6.5 8.25A1.75 1.75 0 118.3 6.5a1.78 1.78 0 01-1.8 1.75zM19 19h-3v-4.74c0-1.42-.6-1.93-1.38-1.93A1.74 1.74 0 0013 14.19a.66.66 0 000 .14V19h-3v-9h2.9v1.3a3.11 3.11 0 012.7-1.4c1.55 0 3.36.86 3.36 3.66z"></path>
                      </svg></li-icon>
                      <b>LinkedIn</b>
                </a>
            </div>
        </div>
        <div class="about-description">
            <p>4 años de experiencia trabajando en el grupo Allaria.</p>
            
        </div>
</div>
{% endblock content %}
    