{% extends 'home/base.html' %}
{% block content %}
    <div class="main-content ">
            
        <div class="row" style="margin-bottom:50px!important;">
            <!-- Blog entries-->
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                    <form class="col-12" action = {% url 'home' %} method = "GET" >
                        {{formulario}}
                    </form>
                    {% if  postInfo%}
                        <h1>{{postInfo}}</h1>
                    {% endif %}
                    
                        <!-- Blog post-->
                            <div class="">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="user-card-header-content">
                                            <div class="user-card-header-photo">
                                                {% if posts.user.userextension.avatar %}
                                                    <img src={{posts.user.userextension.avatar.url}} alt="avatar"
                                                    class="rounded-circle img-fluid" style="width: 26px;height: 26px;">
                                                {% endif %}
                                            </div>
                                            <div class="user-card-header-info">
                                                <div class="user-card-header-author">
                                                    {{posts.user}}
                                                </div>
                                                <div class="small text-muted user-card-header-date">
                                                    {% if posts.edited %}
                                                        - Edited {{posts.date}}
                                                    {% else %}
                                                        - Posted {{posts.date}}
                                                    {% endif %}
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body d-flex">
                                        <div class="card-body-content col-md-12">
                                            <h2 class="card-title h1">{{posts.title}}</h2>
                                            <h2 class="card-title h5">{{posts.subtitle}}</h2>
                                            <p class="card-text">{{posts.text}}</p>
                                            {% if posts.image_post %}
                                                <img class="card-img-top" src={{posts.image_post.url}} alt="..."  />
                                            {% endif %}
                                        </div>
                                    </div>
                                            
                                </div>
                            </div>

        <div class="col-md-2">
{% endblock content %}
