{% extends 'home/base.html' %}
{% block content %}
<div style="display:flex;justify-content:center;">
  <div class="row" style="">
    <div class="col-md-12" style="">
      <div class="card-body" style="display:flex;flex-direction:column;gap:30px;min-width: 280px;">
        {% for user in users %}
          <div class="contact-user" style="display:flex;justify-content:space-between;">
            <div style="margin-left:10px">
              {% if user.userextension.avatar %}
              <img src={{user.userextension.avatar.url}} alt="avatar" class="rounded-circle img-fluid" style="width: 32px;height: 32px;">
              {% else %}
                <img src="https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mp&f=y&s=128" alt="avatar"
                class="rounded-circle img-fluid" style="width: 32px;height: 32px;">
              {% endif %}
            {{user}}
            </div>
            <div style="margin-right:10px">
              <a class="btn btn-primary btn-card btn-card-login" href={% url 'messages' user %}>
                <i class="material-icons" style="font-size:18px;margin-right:2px">chat</i>
                chat
              </a> 
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

</div>
    
  
{% endblock content %}