{% extends 'home/base.html' %}

{% block content %}
      <div class="row" style="margin-top: 20px;">
        <div class="card col-md-12" style="background-color:rgb(247,247,247);">
            <div class="card-body text-center">
                {% if request.user.userextension.avatar%}
                  <img src={{request.user.userextension.avatar.url}} alt="avatar"
                  class="rounded-circle img-fluid" style="width: 110px;height: 110px;">
                {% else %}
                  <img src="https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mp&f=y&s=128" alt="avatar"
                      class="rounded-circle img-fluid" style="width: 110px;height: 110px;">
                {% endif %}
              <h5 class="my-3">{{request.user.first_name}} {{request.user.last_name}}</h5>
              <div class="d-flex justify-content-center mb-2">
                <button type="button" class="btn btn-primary">
                    <a class = "page-link" href={% url 'edit_profile' %}>Edit profile</a>
                </button>
                <button type="button" class="btn btn-outline-primary ms-1">
                    <a class = "page-link" href={% url 'change_password' %}>Change password</a>
                </button>
              </div>
            </div>
        </div>

        <div class="card col-md-12" style="background-color:rgb(247,247,247);">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Full Name</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{request.user.first_name}} {{request.user.last_name}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Email</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{request.user.email}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Phone</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{request.user.userextension.phone_number}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Address</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{request.user.userextension.address}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Page</p>
                </div>
                <div class="col-sm-9">
                  <a href={{request.user.userextension.page}}>{{request.user.userextension.page}}</a>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Description</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{request.user.userextension.description}}</p>
                </div>
              </div>
          </div>
          
          </div>
        </div>
      </div>
{% endblock content %}